<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Monte o seu lanche com vue 2</span>
        </div>
    </nav>

    <div class="container">
        <div id="app">

            <p>{{ mensagem }}</p>
            <div class="row mt-2">
                <div class="col-md-6">
                    <img :src="pao[0]" alt="">
                    <img :src="alface" alt="">
                    <img :src="ketchup" alt="">
                    <img :src="mostarda" alt="">
                    <img :src="maionese" alt="">
                    <img :src="hamburguer" alt="">
                    <img :src="pao[1]" alt="">
                </div>
                <div class="col-md-6" v-if="etapa == 1">
                    <!-- tipo -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    TIPO DO PÃO
                                </div>
                                <div class="card-body">
                                    <!-- {{inputTipoPao}} -->
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="gergelim" value="gergelim"
                                            v-model="inputTipoPao">
                                        <label class="form-check-label" for="gergelim">
                                            Gergelim
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="australiano"
                                            value="australiano" v-model="inputTipoPao">
                                        <label class="form-check-label" for="australiano">
                                            Australiano
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- salada -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    SALADAS
                                </div>

                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" id="alface"
                                            v-model="inputSalada">
                                        <label class="form-check-label" for="alface">
                                            Alface
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- molhos -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    MOLHO
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" id="ketchup"
                                            v-model="inputMolhos">
                                        <label class="form-check-label" for="ketchup">
                                            Ketchup
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" id="mostarda"
                                            v-model="inputMolhos">
                                        <label class="form-check-label" for="mostarda">
                                            Mostarda
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" id="maionese"
                                            v-model="inputMolhos">
                                        <label class="form-check-label" for="maionese">
                                            Maionese
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tipo de hamburgue -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    TIPO da CARNE
                                </div>

                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="bovino" value="bovino"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label" for="bovino">
                                            Bovino
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="frango" value="frango"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label" for="frango">
                                            Frango
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="soja" value="soja"
                                            v-model="inputHamburguer">
                                        <label class="form-check-label" for="soja">
                                            Soja
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-lg btn-primary mt-2 mb-4 " @click="fazerPedido()">
                                Fazer
                                pedido</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" v-if="etapa == 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Informe seus dados
                                </div>
                                {{inputNome}} - <br>
                                {{inputEndereco}}
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="" class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="inputNome">
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Endereço</label>
                                        <input type="text" class="form-control" v-model="inputEndereco">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col d-flex justify-content-around mb-4">
                            <button type="button" class="btn btn-warning" @click="etapa -= 1">Voltar para o
                                lanche</button>
                            <button type="button" class="btn btn-success" @click="confirmarPedido()">Confirmar</button>
                        </div>

                    </div>
                </div>

                <div class="col-md-6" v-if="etapa == 3">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">PEDIDO CONFIRMADO!</div>
                                <div class="card-body">
                                    <p>Agora é só aguardar seu lanche ficar pronto</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col d-flex justify-content-around mb-4">
                            <button type="button" class="btn btn-primary" @click="etapa =1">Repetir pedido</button>
                            <button type="button" class="btn btn-success" @click="novoPedido()">Novo pedido</button>
                        </div>

                    </div>
                </div>

            </div>
            <!-- <button type="button" class="btn btn-primary" @click="saudar()">SAUDAR</button> -->
        </div>

    </div>



    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                inputTipoPao: '',
                inputSalada: [],
                inputMolhos: [],
                inputHamburguer: '',
                etapa: 1,
                inputNome: '',
                inputEndereco: '',
                novoPedidoAssincrono: null
            },
            computed: {
                pao() {
                    switch (this.inputTipoPao) {
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }

                },
                alface() {
                    if (this.inputSalada.includes('alface')) {
                        return 'imagens/alface.png'
                    }
                    return 'imagens/padrao/alface.png'
                },
                ketchup() {
                    if (this.inputMolhos.includes('ketchup')) {
                        return 'imagens/ketchup.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                maionese() {
                    if (this.inputMolhos.includes('maionese')) {
                        return 'imagens/maionese.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                mostarda() {
                    if (this.inputMolhos.includes('mostarda')) {
                        return 'imagens/mostarda.png'
                    }
                    return 'imagens/padrao/molho.png'
                },
                hamburguer() {

                    switch (this.inputHamburguer) {
                        case 'bovino':
                            return 'imagens/bovino.png'
                        case 'frango':
                            return 'imagens/frango.png'
                        case 'soja':
                            return 'imagens/soja.png'
                        default: return 'imagens/padrao/hamburguer.png'
                    }

                },
                mensagemSaudacao() {
                    return 'Olá, Vue!';
                }

            },

            methods: {
                fazerPedido() {
                    if (this.inputTipoPao && this.inputHamburguer) {
                        this.etapa = 2
                    } else {
                        alert("Você Selecionar no minimo um pão e  um hamburguer")
                    }
                },
                confirmarPedido() {
                    if (this.inputNome && this.inputEndereco) {
                        this.etapa = 3

                        this.novoPedidoAssincrono = setTimeout(() => this.novoPedido(), 5000)

                    } else {
                        alert('Favor inserir nome e endereço')
                    }
                },
                saudar() {
                    alert(this.mensagemSaudacao.toUpperCase())
                },
                novoPedido() {
                    this.etapa = 1
                    this.inputTipoPao = ''
                    this.inputSalada = []
                    this.inputMolhos = []
                    this.inputHamburguer = ''
                    this.inputNome = ''
                    this.inputEndereco = ''

                }
            },
            watch: {
                etapa(novoValor) {
                    if (novoValor == 1) {
                        clearTimeout(this.novoPedidoAssincrono);
                    }
                }
            }

        })
    </script>

</body>

</html>